/* Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

/* Grid Utility */
.grid {
  display: grid;
}

.navbar-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  height: 4.5rem;
  padding: 0 1rem;
}

/* Header Styles */
header {
  background-color: #202020;
  color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Logo */
.logo h1 {
  font-size: 1.6rem;
  color: #fff;
  margin: 0;
}

/* Navigation */
nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  color: #fff;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  
}
.ham-menu{
  display:none;
}

